
transformers:
  textractor:
    type: textractor
    model: "default"
    error_message: "Text extraction failed"
  gmail_transformer:
    transformer: data_transformer
    textractor:
      paragraphs: true
      sections: true
      sentences: true
      minlength: 20
      maxlength: 512
      backend: pypdf2
    filetohtml: {}
    error_message: "Gmail transformation failed"