connectors:

  # Gmail API connector
  gmail:
    type: gmail
    credentials_path: "credentials.json"
    token_path: "token.json"

  # Elasticsearch connector
  elasticsearch:
    type: elasticsearch
    connection:
      hosts:
        - "http://localhost:9200"
      connection_params:
        request_timeout: 30

  # Postgres connector
  postgres:
    type: postgres
    connection:
      host: "localhost"
      port: 5432
      database: "postgres"
      user: "logi"
      password: "logi"